a {
    text-decoration: none;
    color: inherit;
}

#navbar{
    font-size: 20px;
    color: #FFE11E;
    background-color: #393934;
    padding: 20px;
    width: 900px;
    max-width: 90%;
    display: flex;
    justify-content: space-between; /* Distributes space between items */
    align-items: center; /* Vertically aligns items */

}

.title{
    font-weight: bolder;
    margin-right: auto;
}

.page{
    margin-left: auto;
}

body{
    background-color: #1D1C18;
    font-family: Arial, Helvetica, sans-serif;
    justify-items: center;
    margin: auto;
    color:#a09f98;
}

p{
    width: 800px;
    text-align: center;
    max-width: 80%;
}

.picrow{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 75px;
    margin-top: 30px;
    padding: 0px 30px 0px 30px;
}

.pic {
    color: #1d1c18;
    text-align: center;
    font-size: 16px;
    background-color: #9D8DF1;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: bold;
    justify-items: center;
}

.pictitle{
    margin: 5px;
}

.pic img {
    width: 250px;
}

h1{
    color: #FFE11E;
}