a {
    text-decoration: none;
    color: inherit;
}

#Footer{
    font-size: 20px;
    color: #FFE11E;
    background-color: #393934;
    padding: 20px;
    width: 900px;
    max-width: 90%;
    display: flex;
    justify-content: center;
    gap: 6%;
}

#navbar{
    font-size: 20px;
    color: #FFE11E;
    background-color: #393934;
    padding: 20px;
    width: 900px;
    max-width: 90%;
    display: flex;

}

.title{
    font-weight: bolder;
    margin-right: auto;
}

.page{
    margin-left: auto;
}

body{
    background-color: #1D1C18;
    font-family: Arial, Helvetica, sans-serif;
    justify-items: center;
    color:#a09f98;

}

p{
    width: 800px;
    text-align: center;
    max-width: 90%;
}

.picrow{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 75px;
    padding: 0px 30px 20px 30px;
}

.pic {
    color: #1d1c18;
    font-size: 16px;
    background-color: #9D8DF1;
    width: 200px;
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: bold;
    justify-items: center;
}

.pictitle{
    margin: 5px;
}

.pic img {
    width: 250px;
    object-fit: cover;
}

.picdev {
    color: #1d1c18;
    font-size: 20px;
    background-color: #9D8DF1;
    max-width: 600px;
    width: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.picdev img {
    max-width: 125%;
    display: flex;
    justify-self: center;
}

h1{
    color: #FFE11E;
}

h2 {
    color: #FFE11E;
    background-color: #393934;
    width: 800px;
    max-width: 90%;
    text-align: center;
    padding: 5px;
}

#review {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    max-width: 90%;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

#review p{
    margin: 0;
    width: 590px;
}

#review img {
    width: 200px;
}

ul{
    width: 800px;
    max-width: 90%;
}

input[type=text], select, textarea {
    background-color: #1D1C18;
    color: #a09f98;
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #9D8DF1; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

  /* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #9D8DF1;
    color: #1D1C18;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

  /* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #FFE11E;
}

  /* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #393934;
    color: #FFE11E;
    padding: 20px;
    width: 800px;
}

/* Change border color when input, select, or textarea are focused */
input[type=text]:focus, 
select:focus, 
textarea:focus {
    border: 1px solid #FFE11E; /* Change to your desired border color */
    outline: none; /* Remove the default browser outline */
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #1D1C18 !important; /* Your desired background color */
    color: white !important; /* Text color */
    -webkit-text-fill-color: white !important; /* Ensures the autofill text color matches */
    transition: background-color 5000s ease-in-out 0s; /* Prevents Chrome from overriding the background color */
}